:host {
    display: block;
    width: 100%;
    margin-right: 30px;

    steam-autosuggest {
        margin-bottom: 8px;
    }

    games-list {
        display: flex;
        max-height: 600px;
        overflow-y: scroll;
    }
}