@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.card {
    background-color: $background-card;
    cursor: pointer;

    &:hover {
        border-color: rgba($color: $border-color, $alpha: .3);
    }
}

.card-body {
    @include ellipsis(100%);
}