@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.card {
    background-color: $background-card;
    cursor: pointer;

    &:hover {
        box-shadow: $shadow-card;
    }
}

.card-body {
    @include ellipsis(100%);
}