
// COLORS

// BACKGROUND
$background-blue: #1b2838;
$background-black: #121821;
$background-white: #e3e3e3;
$background-card: #292F37;


// FONTS
$font-white: #fff;
$font-black: #333;

// BORDER
$border-color: #ccc;

// BOX-SHADOW CARDS
$shadow-card: 0 0 5px 1px rgba(255, 255, 255, .5);
