<section class="room__item">
    <steam-title
        title="Room 5">
    </steam-title>
</section>

<section class="room__item"
    *ngIf="chosenGame">
    <chosen-game
        [game]="chosenGame"
        [playersInRoom]="players.length"
    >
    </chosen-game>
</section>

<section class="room__item">
    <add-player
        (onPlayerAdd)="addPlayer($event)"
    ></add-player>
</section>

<section>
    <room-games *ngIf="games.length"
        [games]="games"
        (onGameSelect)="setChosenGame($event)"
    >
    </room-games>

    <room-players *ngIf="players.length"
        [players]="players"
        (onPlayersClear)="clearPlayers($event)"
        (onPlayerDelete)="deletePlayer($event)"
    >
    </room-players>
</section>