<section class="room__item">
    <steam-title
        title="Room 5">
    </steam-title>
</section>

<section class="room__item"
    *ngIf="chosenGame">
    <chosen-game
        [game]="chosenGame"
        [playersInRoom]="players.length"
    >
    </chosen-game>
</section>

<section class="room__item">
    <add-player
        (onPlayerAdd)="addPlayer($event)"
    ></add-player>
</section>

<section>
    <room-games *ngIf="games.length"
        [games]="games"
        (onGameSelect)="setChosenGame($event)"
    >
    </room-games>

    <div class="room__players" *ngIf="players.length">
        <steam-text>Players in room</steam-text>
        <steam-grid>
            <player-card
                *ngFor="let player of players"
                [player]="player">
            </player-card>
        </steam-grid>
    </div>
</section>