section {
    display: flex;
}

.room__item {
    margin-bottom: 30px;
    align-items: center;
}

.room__games {
    width: 100%;
    margin-right: 30px;

    games-list {
        display: flex;
        overflow-y: scroll;
    }
}

.room__players {
    width: 100%;
}
