<section class="room__item">
    <chosen-game></chosen-game>
</section>

<section class="room__item">
    <steam-autosuggest
        [items]="players"
        [search]="getPlayers"
        (onItemSelect)="selectPlayer($event)"
    >
    </steam-autosuggest>
    <steam-button>Play</steam-button>
</section>

<section>
    <div class="room__games">
        <steam-text>Available games</steam-text>
        <games-list [games]="games"></games-list>
    </div>
    <div class="room__players">
        <steam-text>Players in room</steam-text>
        <steam-grid>
            <player-card
                *ngFor="let player of players"
                [player]="player">
            </player-card>
        </steam-grid>
    </div>
</section>