@import '../../../../styles/variables';

.list-group-item {
    padding: 0;
    display: flex;
    align-items: center;
    background-color: $background-card;
    cursor: pointer;

    &:hover {
        box-shadow: $shadow-card;
    }
}

.game__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}