@import '../styles/variables';

:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 960px;
    padding: 20px 30px;
    max-width: 100%;
    color: $font-white;
    border: 1px solid $border-color;
    background-color: $background-blue;
}